* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.root-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.box-controller {
    flex-direction: row;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    border-style: groove;
    margin: 2px;
}

    .box-controller .controller {
        display: inline;
        align-items: center;
        width: 100px;
        height: 100px;
        padding: 5px;
        border: 10px ;
    }

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    border-style: groove;
    margin: 2px;
}


.header {
    align-items: center;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}


.inner-container {
    display: flex;
    flex-direction: column;
}

    .inner-container .box {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .inner-container .box .input-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: fit-content;
        }

      


            .inner-container .box .input-group .label {
                font-size: 20px;
            }

            .inner-container .box .input-group .input {
                margin-top: 6px;
                min-width: 18em;
                height: 37px;
                padding: 0px 10px;
                font-size: 16px;
                font-family: "Open Sans", sans-serif;
                background-color: #f3f3f3;
                border: 0;
                border-radius: 4px;
                margin-bottom: 31px;
                transition: all 250ms ease-in-out;
            }

                .inner-container .box .input-group .input &:hover {
                    background-color: #ffffff;
                    box-shadow: 0px 0px 14px 0.3px #0e81ce96;
                }
                .inner-container .box .input-group .input &:focus {
                    outline: none;
                    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
                }

        .inner-container .box .footer .login-btn{
            display: block;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            outline: none;
            border: none;
            background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
            background-size: 200%;
            font-size: 1.2rem;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            margin: 1rem 0;
            cursor: pointer;
            transition: .5s;
        }

            .inner-container .box .footer .login-btn &:hover {
                background-position: right;
            }

        .inner-container .box .footer .register-btn {
            display: block;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            outline: none;
            border: none;
            background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
            background-size: 200%;
            font-size: 1.2rem;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            margin: 1rem 0;
            cursor: pointer;
            transition: .5s;
        }

            .inner-container .box .footer .register-btn &:hover {
                background-position: right;
            }