.root-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-controller {
    flex-direction: row;
    align-items: center;
}

    .box-controller .controller {
        display: inline;
        align-items: center;
        width: 100px;
        height: 100px;
        padding: 5px;
        border: 10px ;
    }

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    align-items: center;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}


.inner-container {
    display: flex;
    flex-direction: column;
}

    .inner-container .box {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .inner-container .box .input-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: fit-content;
        }

            .inner-container .box .input-group .label {
                font-size: 20px;
            }

            .inner-container .box .input-group .input {
                margin-top: 6px;
                min-width: 18em;
                height: 37px;
                padding: 0px 10px;
                font-size: 16px;
                font-family: "Open Sans", sans-serif;
                background-color: #f3f3f3;
                border: 0;
                border-radius: 4px;
                margin-bottom: 31px;
                transition: all 250ms ease-in-out;
            }

                .inner-container .box .input-group .input &:hover {
                    background-color: #ffffff;
                    box-shadow: 0px 0px 14px 0.3px #0e81ce96;
                }
                .inner-container .box .input-group .input &:focus {
                    outline: none;
                    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
                }

        .inner-container .box .footer {
            margin-top: 3em;
        }